<section id="contact" class="section-content">
    <h1>Contact</h1>
    <p>Address: 185 Madison Ave. Floor 3, Manhattan</p>
    <p>Email: <a href="mailto:hello@nobledesktop.com">hello@nobledesktop.com</a></p>
</section>
